@nice-blue: #5B83AD;
@light-blue: @nice-blue + #111;

#header {
  background-color: @light-blue;
  width: 100px;
  height: 100px;
}
#button {
  background-color: yellow;
}
#buttonGet {
  color: green;
}
